.btn-primary {
    background-color: #6e0000 !important;
    color: antiquewhite;
    border-color: #6e0000;
}

.btn-primary:hover {
    border-color: white;
    font-weight: 800;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.shop__item:hover, footer .footer__icon img:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

.main {
    background: rgb(54, 0, 0, 0.7);
    border-radius: 3%;
}
