.active {
    color: #fff;
    text-decoration: none;
}

.nav-item{
    color: rgba(255,255,255,.55);
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    color: white;
}